.mainpage {
    padding-top: 3rem;
}

.try-one {
    font-size: 1.1rem;
    padding: 0 0 0 2rem;
    text-align: center;
}

.musicContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
}

.musicBox {
    width: 16rem;
    height: 16rem;
    padding: 0.8rem;
    margin-inline: 0;
    box-shadow: 0 0.1rem 0.2rem black;
    border-radius: 0.5rem;

    position: relative;
}

.musicBox img {
    height: 12rem;
    height: 100%;
    width: 14rem;
    width: 100%;
    display: block;
    border-radius: 0.7rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(39, 36, 36, 0.4);
    border-radius: 0.5rem;
    transition: opacity 0.3s ease; 
    cursor: pointer;
}
 
.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
} 

.info p {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    text-align: center;
    color: black;
}

.musicBox:hover .overlay {
    opacity: 1;
}


