.genre-container {    
    position: relative;
}

.headings {
    padding: 0.5rem;
    margin-top: 1rem;
}

.caption {
    color: white;
    text-transform: uppercase;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.genre-names {
    display: flex;
    flex-wrap: wrap;
} 

.genre-name {
    padding: 0.5rem;
    box-shadow: 0 0.2rem 0.5rem rgb(27, 27, 27);
    width: 11rem;
    height: 4rem;
    border-radius: 0.5rem;
    position: relative;
    margin-bottom: 2rem;
    margin-left: 2rem; 
}

.title {
    font-size: 1.3rem;
    position: absolute;
    top: 1.3rem;
    left: 1.2rem;
}

.title a {
    text-decoration: none;
    color: black; 
    color: white;
}